::-webkit-scrollbar-thumb {
  background-color: #737272;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  padding: 2px 0;
}

.nav-scroll::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar {
  width: 4px;
}

.nav-scroll::-webkit-scrollbar-thumb {
  background-color: var(--default-bg-color-nav);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #737272;
  border-radius: 5px;
}

.nav-scroll::-webkit-scrollbar-track {
  padding: 2px 0;
}

::-webkit-scrollbar-track {
  padding: 2px 0;
}
